<div
  class="modal fade"
  [id]="marketKey"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reyon Ekleme {{marketKey}}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body text-center">
        <form [formGroup]="sectionForm">
          <!-- Reyon Adı -->
          <div class="mb-3">
            <label for="reyonAdi" class="form-label">Reyon Adı</label>
            <input
              type="text"
              class="form-control form-control-dark"
              id="reyonAdi"
              formControlName="sectionName"
              readonly
            />
          </div>
          <!-- Reyon Türü -->
          <div class="mb-3">
            <label for="reyonTuru" class="form-label">Reyon Türü</label>
            <select class="form-select form-select-dark" id="reyonTuru" formControlName="sectionType">
              <option value="Gıda" selected>Gıda</option>
              <option value="Temizlik">Temizlik</option>
              <option value="Kozmetik">Kozmetik</option>
            </select>
          </div>
          <!-- Eklenecek Market -->
          <div class="mb-3">
            <label for="marketName" class="form-label">Eklenecek Market</label>
            <input
              type="text"
              class="form-control form-control-dark"
              id="marketName"
              formControlName="market"
              readonly
            />
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Kapat
        </button>
        <button type="button" class="btn btn-primary" (click)="addDepartment()" data-bs-dismiss="modal">Kaydet</button>
      </div>
    </div>
  </div>
</div>
